<div class="card">
  <div class="card2">
      <h1>Registration Form</h1>
  <div class="p-fluid p-formgrid p-grid">

          <div class="p-field p-col-12 p-md-4">
              <label for="firstname"><h3>First Name</h3></label>
              <input class="labels" id="firstname" type="text" pInputText> 
          </div>
          <div class="p-field p-col-12 p-md-4">
              <label for="lastname"><h3>Middle Name</h3></label>
              <input id="lastname" type="text" pInputText> 
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="lastname"><h3>Last Name</h3></label>
            <input id="lastname" type="text" pInputText> 
        </div>
    <div class="p-field p-col-12 p-md-6">
          <label for="email"><h3>Email</h3></label>
          <input id="email" type="text" pInputText  placeholder="abcd@gmail.com"> 
  </div>
  <div class="p-field p-col-12 p-md-3">
          <label for="CountryCode"><h3>Country Code </h3></label>
          <input id="phoneNumber" type="text" pInputText placeholder="+91" >
      
 </div>
  <div class="p-field p-col-12 p-md-3">    
          <label for="phoneNumber"><h3>Phone </h3></label>
          <input id="phoneNumber" type="text" pInputText placeholder="Phone number" >

</div>
     <div class="p-field p-col-12 p-md-6">
        <label for="address"><h3>Address</h3></label>
        <textarea class="inputs" id="address" type="text" rows="4" pInputTextarea></textarea></div>
        
          <div class="p-field p-col-12 p-md-6">
            <h3> DOB</h3>
            <p-calendar [(ngModel)]="date10" [showIcon]="true" inputId="template" [style]="{'margin-top':'31px'}">
                <ng-template pTemplate="date" let-date>
                    <span [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
                </ng-template>
            </p-calendar>
        </div>
       
          <div class="p-field p-col-12 p-md-4">
              <h3 class="inputs">City</h3>
                  <p-dropdown class="inputs" [options]="cities" [(ngModel)]="selectedCityCode" placeholder="Select City"   optionLabel="name"></p-dropdown></div>
                        
          <div class="p-field p-col-12 p-md-4">
              <h3>State</h3>
                  <p-dropdown class="inputs" [options]="states" [(ngModel)]="selectedStateCode" placeholder="Select State"  optionLabel="name"></p-dropdown></div>
                                
          <div class="p-field p-col-12 p-md-4">
             <h3>Languages Known </h3>
                  <p-multiSelect [options]="multis" [(ngModel)]="selectedLang" defaultLabel="Select language" optionLabel="name" selectedItemsLabel="{0} items selected"></p-multiSelect></div>
                                              
    <div class="p-field p-col-12 p-md-6 p-lg-6">
              <h3>Select Branch</h3>
               <div class="p-formgroup-inline">
                    <div *ngFor="let category of categories" class="p-field-checkbox">
                          <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory" [disabled]="category.key === 'R'"></p-radioButton>
                                  <label [for]="category.key">{{category.name}}</label>
                     </div>
                </div>
    </div>                                         
    <div class="p-field p-col-12 p-md-12 p-lg-6"> 
      <h3>Select Languages you want to learn</h3>                                               
<div class="p-formgroup-inline">                                             
    
  <div class="p-field-checkbox p-col-12 p-md-4 p-lg-4">
        <p-checkbox name="group1" value="Angular" [(ngModel)]="selectedLang" inputId="ang"></p-checkbox>
        <label for="ny">Angular</label>
  </div>
  <div class="p-field-checkbox p-col-12 p-md-4 p-lg-4">
        <p-checkbox name="group1" value="Reactjs" [(ngModel)]="selectedLang" inputId="rj"></p-checkbox>
        <label for="sf">Reactjs</label>
  </div>
  <div class="p-field-checkbox p-col-12 p-md-4 p-lg-4">
        <p-checkbox name="group1" value="New York" [(ngModel)]="selectedLang" inputId="ang"></p-checkbox>
        <label for="ny">Mongodb</label>
  </div>
  <div class="p-field-checkbox p-col-12 p-md-4 p-lg-4">
        <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedLang" inputId="rj"></p-checkbox>
        <label for="sf">Vuejs</label>
  </div>
   
   </div> 
   </div>
  </div>
  </div>

      <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6 p-lg-4 button ">  
          <p-toggleButton [(ngModel)]="checked2" onLabel="Iconfirm" offLabel="I reject"  offIcon="pi pi-times"></p-toggleButton>
      </div>
      <div class="p-field p-col-12 p-md-6 p-lg-4 button">
          <button pButton pRipple type="button" label="Submit" class="p-button-success"></button>
      </div>
      <div class="p-field p-col-12 p-md-6 p-lg-4 button">
          <button pButton pRipple type="button" label="Reset" class="p-button-secondary"></button>
      </div>
  </div>
</div>


