<!-- <mat-list role="list">
  <mat-list-item role="listitem">
    <a href="users/create"> Add User </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href="users/list"> List User </a>
  </mat-list-item>
  <mat-list-item role="listitem">
   <a href="users/back">Back </a>
  </mat-list-item>
</mat-list> -->


<button style="margin: 20px 10px;" mat-stroked-button color="accent"><a href="users/create">Add User</a> </button><br>
<button style="margin: 20px 10px;" mat-stroked-button color="accent"><a href="users/list">List Users</a> </button><br>
<button style="margin: 20px 10px;" mat-stroked-button color="accent"><a href="users/back">Back</a></button>
